:root {
  // colors
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-1: #545454;
  --color-grey: #f7f7f7;
  --color-grey-2: #22292f;
  --color-grey-3: #8b8e91;
  --color-orange: #ff6b08;
  --color-grey-1: #8c8c8c;
  --color-red: #ff0000;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: 'Roboto', sans-serif;
}

//  BreakPoints
$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

//variables

$card-set-gap: 30px;

//mixins

@mixin phone {
  @media screen and (min-width: #{$bp-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$bp-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$bp-desktop}) {
    @content;
  }
}
