:root {
    // colors
    --color-white: #ffffff;
    --color-black: #000000;
  }

//  BreakPoints
$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

//mixins

@mixin phone {
    @media screen and (max-width: #{$bp-mobile}) {
      @content;
    }
  }
  
@mixin phone {
    @media screen and (max-width: #{$bp-mobile}) {
      @content;
    }
  }