//  main
:root {
    --color-white: #ffffff;
  
    --color-black: #040004;
    --color-black-1: #000000;
    --color-black-2: #292529;
    --color-black-3: #3B3A3D;
  
    --color-grey: #4D4C4F;
    --color-grey-1: #75736E;
    --color-grey-2: #949289;
    --color-grey-3: #C9C8C1;
    --color-grey-4: #E2E0DB;
    --color-grey-5: #F6F4F0;
    --color-grey-6: #F1EFEB;
    --color-grey-7: #CCD5DD;
    --color-grey-8: #5D5D5D;
  
    --color-blue: #122D42;
    --color-blue-1: #1C3F5A;
    --color-blue-2: #23587E;
    --color-blue-3: #427497;
    --color-blue-4: #629BC3;
    --color-blue-5: #A4C9E0;
    --color-blue-6: #D1E4EF;
    --color-blue-7: #E8EEF1;
    --color-blue-8: #5D7D91;
    --color-blue-9: #97B0C0;
    --color-blue-10: #D9E2E8;
    --color-blue-11: #C9E4F5;
    --color-blue-12: #E1EFF6;
    --color-blue-13: #8FBFE0;
    
    --color-yellow: #BE9E76;
    --color-yellow-1: #E2BD8F;
    --color-yellow-2: #EBE1D1;
    --color-yellow-3: #FFFEF9;
    --color-yellow-4: #F9EBDF;
  
    --color-green: #498e5c;
  
    --color-red: #C36262;
    --color-red-1: #EDD0D0;
    --color-red-2: #F9EFEF;
  }

  
//  colors

//  BreakPoints
$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

//mixins