#upbutton {
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 999;
  transition: transform var(--animation);
  &:hover{
    transform: scale(1.2);
  }
}
