.tui-pagination {
  margin: auto 0 40px 0;
  height: unset;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  & .tui {
    &-ico-first,
    &-ico-last {
      display: none;
    }

    // &-ico-prev,
    // &-ico-next {
    //   display: inline-flex;
    //   align-items: center;
    //   justify-content: center;
    //   background-color: var(--color-grey);
    //   border-radius: 5px;
    //   background-repeat: no-repeat;
    //   background-size: repeat;
    //   cursor: pointer;
    //   transition: all ease-out 0.3s;

    //   &:hover {
    //     background: #8080803b;
    //   }

    //   & svg {
    //     width: 12px;
    //     height: 12px;
    //   }
    // }

    &-page-btn {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: var(--color-black);
      border: none;
      width: 30px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color ease-out 0.3s;
    }

    &-is-selected {
      width: 40px;
      height: 40px;
      background-color: var(--color-orange);
      border-radius: 5px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #ff6b08a4;
      }
    }
  }

  & .tui {
    &-last,
    &-first,
    &-prev-is-ellip,
    &-next-is-ellip {
      display: none;

      @include tablet {
        display: inline-block;
      }
    }
  }

  .tui-next,
  .tui-prev {
    background-color: #f7f7f7;
    background-image: url(../images/arrow_left.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #ff6b08a4;
      background-image: url(../images/arrow_left.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    & .tui-ico-next,
    & .tui-ico-prev {
      display: none;
    }
  }

  .tui-next {
    background-image: url(../images/arrow_right.svg);

    &:hover {
      background-image: url(../images/arrow_right.svg);
    }
  }
}
