<footer class="footer">
  <div class="container">
    <p class="footer__text">
      © 2020 | All Rights Reserved | Developed with

      <span class="footer__icon">
        <img src="./images/heart.svg" alt="heart icon" />
      </span>
      by
      <button class="footer__btn" data-modal-open>GoIT Students</button>
    </p>
  </div>

  <div class="modal-devs is-hidden" data-modal>
    <div class="modal-devs__overlay container">
      <h2 class="team__title--main">Team "G-5"</h2>
      <ul class="team__name">
        <li class="team__item">
          <div class="team__thumb">
            <img
              class="img__box"
              src="./images/alex.jpg"
              alt="Alex"
              loading="lazy"
              target="_blank"
            />
          </div>
          <div class="card">
            <h3 class="team__title">Alex</h3>
            <p class="team__text">Team Lider</p>
          </div>
          <ul class="team__menu">
            <li class="team__item--employee">
              <a class="team__link" href="#">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/github.svg"></use>
                </svg>
              </a>
            </li>
            <li class="team__item--employee">
              <a class="team__link" href="mailto:alexshlihta@gmail.com" target="_blank">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/mail.svg"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team__item">
          <div class="team__thumb">
            <img
              class="img__box"
              src="./images/alexandr.jpg"
              alt="Alexandr"
              target="_blank"
              loading="lazy"
            />
          </div>
          <div class="card">
            <h3 class="team__title">Alexandr</h3>
            <p class="team__text">Scrum Master</p>
          </div>
          <ul class="team__menu">
            <li class="team__item--employee">
              <a class="team__link" href="#">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/github.svg"></use>
                </svg>
              </a>
            </li>
            <li class="team__item--employee">
              <a
                class="team__link"
                href="mailto:ilchenko.alexander.n@gmail.com"
                target="_blank"
                loading="lazy"
              >
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/film.svg"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team__item">
          <div class="team__thumb">
            <img
              class="img__box"
              src="./images/alex.jpg"
              alt="Alex"
              loading="lazy"
              target="_blank"
            />
          </div>
          <div class="card">
            <h3 class="team__title">Alex</h3>
            <p class="team__text">Team Lider</p>
          </div>
          <ul class="team__menu">
            <li class="team__item--employee">
              <a class="team__link" href="#">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/github.svg"></use>
                </svg>
              </a>
            </li>
            <li class="team__item--employee">
              <a class="team__link" href="mailto:alexshlihta@gmail.com" target="_blank">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/mail.svg"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team__item">
          <div class="team__thumb">
            <img
              class="img__box"
              src="./images/alex.jpg"
              alt="Alex"
              loading="lazy"
              target="_blank"
            />
          </div>
          <div class="card">
            <h3 class="team__title">Alex</h3>
            <p class="team__text">Team Lider</p>
          </div>
          <ul class="team__menu">
            <li class="team__item--employee">
              <a class="team__link" href="#">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/github.svg"></use>
                </svg>
              </a>
            </li>
            <li class="team__item--employee">
              <a class="team__link" href="mailto:alexshlihta@gmail.com" target="_blank">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/mail.svg"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team__item">
          <div class="team__thumb">
            <img
              class="img__box"
              src="./images/alex.jpg"
              alt="Alex"
              loading="lazy"
              target="_blank"
            />
          </div>
          <div class="card">
            <h3 class="team__title">Alex</h3>
            <p class="team__text">Team Lider</p>
          </div>
          <ul class="team__menu">
            <li class="team__item--employee">
              <a class="team__link" href="#">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/github.svg"></use>
                </svg>
              </a>
            </li>
            <li class="team__item--employee">
              <a class="team__link" href="mailto:alexshlihta@gmail.com" target="_blank">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/mail.svg"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team__item">
          <div class="team__thumb">
            <img
              class="img__box"
              src="./images/alex.jpg"
              alt="Alex"
              loading="lazy"
              target="_blank"
            />
          </div>
          <div class="card">
            <h3 class="team__title">Alex</h3>
            <p class="team__text">Team Lider</p>
          </div>
          <ul class="team__menu">
            <li class="team__item--employee">
              <a class="team__link" href="#">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/github.svg"></use>
                </svg>
              </a>
            </li>
            <li class="team__item--employee">
              <a class="team__link" href="mailto:alexshlihta@gmail.com" target="_blank">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/mail.svg"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team__item">
          <div class="team__thumb">
            <img
              class="img__box"
              src="./images/alex.jpg"
              alt="Alex"
              loading="lazy"
              target="_blank"
            />
          </div>
          <div class="card">
            <h3 class="team__title">Alex</h3>
            <p class="team__text">Team Lider</p>
          </div>
          <ul class="team__menu">
            <li class="team__item--employee">
              <a class="team__link" href="#">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/github.svg"></use>
                </svg>
              </a>
            </li>
            <li class="team__item--employee">
              <a class="team__link" href="mailto:alexshlihta@gmail.com" target="_blank">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/mail.svg"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team__item">
          <div class="team__thumb">
            <img
              class="img__box"
              src="./images/alex.jpg"
              alt="Alex"
              loading="lazy"
              target="_blank"
            />
          </div>
          <div class="card">
            <h3 class="team__title">Alex</h3>
            <p class="team__text">Team Lider</p>
          </div>
          <ul class="team__menu">
            <li class="team__item--employee">
              <a class="team__link" href="#">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/github.svg"></use>
                </svg>
              </a>
            </li>
            <li class="team__item--employee">
              <a class="team__link" href="mailto:alexshlihta@gmail.com" target="_blank">
                <svg class="team__svg" width="20" height="20">
                  <use href="./images/mail.svg"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <button class="modal-devs__close-btn" data-modal-close>close</button>
    </div>
  </div>

  <!-- <div class="modal-devs is-hidden" data-modal>
    <div class="modal-devs__overlay">
      <div class="modal-devs__footer">
        <h2 class="team__heading">Team "G-5"</h2>
      </div>
      <div class="content">
        <div class="team">
          <div class="team__img-box">
            <img src="./images/alex.jpg" alt="Alex" />
          </div>
          <div class="info">
            <div class="name">Alex</div>
            <div class="title">Team Lider</div>
            <div class="social">
              <a href="mailto:alexshlihta@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <div class="team__img-box">
            <img src="./images/alexandr.jpg" alt="Alex" />
          </div>
          <div class="info">
            <div class="name">Alexandr</div>
            <div class="title">Scrum Master</div>
            <div class="social">
              <a
                href="mailto:ilchenko.alexander.n@gmail.com"
                class="networks__item"
                target="_blank"
              >
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/yaroslav.jpg" alt="Yaroslav" width="140" height="180" />
          <div class="info">
            <div class="name">Yaroslav</div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:lazorenko85@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/max.jpg" alt="Maxim" width="140" height="180" />
          <div class="info">
            <div class="name">Maxim</div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:m.zhitnyak@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/dima.jpg" alt="Dima" width="140" height="180" />
          <div class="info">
            <div class="name">Dima</div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:amgpetronass@gmail.comm" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/nastya.jpg" alt="Anastasiia" width="140" height="180" />
          <div class="info">
            <div class="name">Anastasiia</div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:developer1302@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/georg.jpg" alt="Georg" width="140" height="180" />
          <div class="info">
            <div class="name">Georg</div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:G.ego1991.ge@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/vlad.jpg" alt="Vlad" width="140" height="180" />
          <div class="info">
            <div class="name">Vlad</div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:vldbarsuk@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <button class="modal-devs__close-btn" data-modal-close>close</button>
        <a href="https://github.com/luxplanjay" target="_blank" class="modal-devs__respect-btn"></a>
      </div>
    </div>
  </div> -->
</footer>
