<footer class="footer">
  <div class="container">
    <p class="footer__text">
      © 2020 | All Rights Reserved | Developed with

      <span class="footer__icon">
        <img src="./images/heart.svg" alt="heart icon" />
      </span>
      by
      <button class="footer__btn" data-modal-open>GoIT Students</button>
    </p>
  </div>
  <div class="modal-devs is-hidden" data-modal>
    <div class="modal-devs__overlay">
      <div class="modal-devs__footer">
        <h2 class="team__heading">Team "G-5"</h2>
      </div>
      <div class="content">
        <div class="team">
          <img src="./images/alex.jpg" alt="Alex" width="140" height="180" />
          <div class="info">
            <div class="name">Alex</div>
            <div class="title">Team Lider</div>
            <div class="social">
              <a href="mailto:alexshlihta@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/alexandr.jpg" alt="Alexandr" width="140" height="180" />
          <div class="info">
            <div class="name">Alexandr</div>
            <div class="title">Scrum Master</div>
            <div class="social">
              <!-- <a href="https://github.com/Apppp" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a> -->
              <a
                href="mailto:ilchenko.alexander.n@gmail.com"
                class="networks__item"
                target="_blank"
              >
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/yaroslav.jpg" alt="Yaroslav" width="140" height="180" />
          <div class="info">
            <div class="name">Yaroslav</div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:lazorenko85@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/max.jpg" alt="Maxim" width="140" height="180" />
          <div class="info">
            <div class="name">Maxim</div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:m.zhitnyak@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/dima.jpg" alt="Dima" width="140" height="180" />
          <div class="info">
            <div class="name">Dima</div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:amgpetronass@gmail.comm" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/nastya.jpg" alt="Anastasiia" width="140" height="180" />
          <div class="info">
            <div class="name">Anastasiia</div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:developer1302@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/georg.jpg" alt="Georg" width="140" height="180" />
          <div class="info">
            <div class="name">Georg</div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:G.ego1991.ge@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/vlad.jpg" alt="Vlad" width="140" height="180" />
          <div class="info">
            <div class="name">Vlad</div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:vldbarsuk@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <button class="modal-devs__close-btn" data-modal-close>close</button>
        <a href="https://github.com/luxplanjay" target="_blank" class="modal-devs__respect-btn"></a>
      </div>
    </div>
  </div>
</footer>
