<header class="header header-home">
  <div class="toolbar">
    <div class="theme-switch">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
        <path
          d="M7.5 2c-1.79 1.15-3 3.18-3 5.5s1.21 4.35 3.03 5.5C4.46 13 2 10.54 2 7.5A5.5 5.5 0 0 1 7.5 2m11.57 1.5 1.43 1.43L4.93 20.5 3.5 19.07 19.07 3.5m-6.18 2.43L11.41 5 9.97 6l.42-1.7L9 3.24l1.75-.12.58-1.65L12 3.1l1.73.03-1.35 1.13.51 1.67m-3.3 3.61-1.16-.73-1.12.78.34-1.32-1.09-.83 1.36-.09.45-1.29.51 1.27 1.36.03-1.05.87.4 1.31M19 13.5a5.5 5.5 0 0 1-5.5 5.5c-1.22 0-2.35-.4-3.26-1.07l7.69-7.69c.67.91 1.07 2.04 1.07 3.26m-4.4 6.58 2.77-1.15-.24 3.35-2.53-2.2m4.33-2.7 1.15-2.77 2.2 2.54-3.35.23m1.15-4.96-1.14-2.78 3.34.24-2.2 2.54M9.63 18.93l2.77 1.15-2.53 2.19-.24-3.34Z"
          fill="#FF6B08"
        />
      </svg>
      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="theme-switch-toggle"
        />
        <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>
    </div>
  </div>
  <div class="header__container">
    <div class="container">
      <div class="wrap">
        <svg
          width="24"
          height="24"
          fill="none"
          id="filmoptim"
          xmlns="http://www.w3.org/2000/svg"
          data-llp-composed="true"
          class="lazy-line-painter header__logo-icon"
        >
          <path
            d="M19.82 2H4.18A2.18 2.18 0 002 4.18v15.64A2.18 2.18 0 004.18 22h15.64A2.18 2.18 0 0022 19.82V4.18A2.18 2.18 0 0019.82 2zM7 2v20M17 2v20M2 12h20M2 7h5M2 17h5M17 17h5M17 7h5"
            data-llp-id="filmoptim-0"
            data-llp-duration="2000"
            data-llp-delay="0"
            fill-opacity="0"
            style="stroke-linecap: square"
          />
        </svg>
        <!-- <img class="film-icon" src="./images/film.svg" alt="film icon" /> -->
        <h1 class="logo visually-hidden">Filmoteka</h1>
        <a class="logo-link link" id="logo" href="./index.html">Filmoteka</a>
        <nav class="menu">
          <ul class="menu__list list">
            <li class="menu__item">
              <button class="menu__btn btn-style current" id="home" type="button">Home</button>
            </li>
            <li class="menu__item">
              <button class="menu__btn btn-style" id="my-library" type="button">My library</button>
            </li>
          </ul>
        </nav>
      </div>
      <form class="search-form" id="search-form">
        <input
          class="search"
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Search films"
        />
        <button class="btn-search" type="submit"></button>
      </form>
      <p class="error-msg visually-hidden" id="error">
        Search result not successful. Enter the correct movie name
      </p>
      <div class="container-lib visually-hidden">
        <ul class="users-lists list">
          <li class="ul-item">
            <button class="users-lists-button" id="watched">WATCHED</button>
          </li>
          <li class="ul-item">
            <button class="users-lists-button" id="queue">QUEUE</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
