<header class="header header-home">
  <div class="header__container">
    <div class="container">
      <div class="wrap">  
        <img class="film-icon" src="./images/film.svg" alt="film icon" />
        <h1 class="logo visually-hidden">Filmoteka</h1>
        <a class="logo-link link" id="logo" href="./index.html">Filmoteka</a>
        <nav class="menu">
          <ul class="menu__list list">
            <li class="menu__item">
              <button class="menu__btn btn-style current" id="home" type="button">
                Home
              </button>
            </li>
            <li class="menu__item">
              <button class="menu__btn btn-style" id="my-library" type="button">
                My library
              </button>
            </li>
          </ul>
        </nav>
      </div>
      <form class="search-form" id="search-form">
        <input class="search" type="text" name="query" autocomplete="off" placeholder="Search films" />
        <button class="btn-search" type="submit"></button>
      </form>
    </div>
  </div>
</header>
