  <div class="modal-devs is-hidden" data-modal>
    <div class="modal-devs__overlay">
      <div class="modal-devs__footer">
        <h2 class="team__heading">Team "G-5"</h2>
      </div>
      <div class="content">
        <div class="team">
          <img src="./images/alex.jpg" alt="Alex" />
          <div class="info">
            <div class="name">Alex</div>
            <div class="title">Team Lider</div>
            <div class="social">
              <a href="mailto:sepaev@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/alexandr.jpg" alt="Alexandr" />
          <div class="info">
            <div class="name">Alexandr</div>
            <div class="title">Scrum Master</div>
            <div class="social">
              <!-- <a href="https://github.com/Apppp" class="networks__item" target="_blank">
              <svg class="networks__img" width="32" height="32">
                <use href="./images/svg/github-logo.svg#github-logo"></use>
              </svg>
            </a> -->
              <a href="mailto:ilchenko.alexander@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/max.jpg" alt="" />
          <div class="info">
            <div class="name">
              Maxim <br />
              Zhitnyak
            </div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:m.zhitnyak@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/max.jpg" alt="" />
          <div class="info">
            <div class="name">
              Maxim <br />
              Zhitnyak
            </div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:m.zhitnyak@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/max.jpg" alt="" />
          <div class="info">
            <div class="name">
              Maxim <br />
              Zhitnyak
            </div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:m.zhitnyak@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/max.jpg" alt="" />
          <div class="info">
            <div class="name">
              Maxim <br />
              Zhitnyak
            </div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:m.zhitnyak@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/max.jpg" alt="" />
          <div class="info">
            <div class="name">
              Maxim <br />
              Zhitnyak
            </div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:m.zhitnyak@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="team">
          <img src="./images/max.jpg" alt="" />
          <div class="info">
            <div class="name">
              Maxim <br />
              Zhitnyak
            </div>
            <div class="title">Developer</div>
            <div class="social">
              <a href="mailto:m.zhitnyak@gmail.com" class="networks__item" target="_blank">
                <svg class="networks__img" width="32" height="32">
                  <use href="./images/mail4.svg"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <button class="modal-devs__close-btn" data-modal-close>close</button>
        <a href="https://github.com/luxplanjay" target="_blank" class="modal-devs__respect-btn"></a>
      </div>
    </div>
  </div>