<div class="modal-devs" id="modal-devs" data-modal>
  <div class="modal-devs__overlay">
    <h2 class="team__title--main">'G-5' TEAM</h2>
    <ul class="team__name">
      <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="./images/alex.jpg" alt="Alex" />
        </div>
        <div class="card">
          <h3 class="team__title">Alex</h3>
          <p class="team__text">Team Lead</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/alexshlikhta" target="blank">
              <img src="./images/github.svg" alt="#" width="25" height="25" />
            </a>
          </li>
          <li class="team__item--employee">
            <a class="team__link" href="mailto:alexshlihta@gmail.com" target="blank">
              <img src="./images/mail.svg" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="./images/alexandr.jpg" alt="Alexandr" />
        </div>
        <div class="card">
          <h3 class="team__title">Alexander</h3>
          <p class="team__text">Scrum Master</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/Alexilch" target="blank">
              <img src="./images/github.svg" alt="#" width="25" height="25" />
            </a>
          </li>
          <li class="team__item--employee">
            <a class="team__link" href="mailto:ilchenko.alexander.n@gmail.com" target="blank">
              <img src="./images/mail.svg" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="./images/yaroslav.jpg" alt="Yaroslav" />
        </div>
        <div class="card">
          <h3 class="team__title">Yaroslav</h3>
          <p class="team__text">Developer</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/YaroslavLazorenko" target="blank">
              <img src="./images/github.svg" alt="#" width="25" height="25" />
            </a>
          </li>
          <li class="team__item--employee">
            <a class="team__link" href="mailto:lazorenko85@gmail.com" target="blank">
              <img src="./images/mail.svg" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>

      <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="./images/max.jpg" alt="Max" />
        </div>
        <div class="card">
          <h3 class="team__title">Max</h3>
          <p class="team__text">Developer</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/zhitnyak" target="blank">
              <img src="./images/github.svg" alt="#" width="25" height="25" />
            </a>
          </li>
          <li class="team__item--employee">
            <a class="team__link" href="mailto:m.zhitnyak@gmail.com" target="blank">
              <img src="./images/mail.svg" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>

      <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="./images/dima.jpg" alt="Dima" />
        </div>
        <div class="card">
          <h3 class="team__title">Dima</h3>
          <p class="team__text">Developer</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/dimatytenko" target="blank">
              <img src="./images/github.svg" alt="#" width="25" height="25" />
            </a>
          </li>
          <li class="team__item--employee">
            <a class="team__link" href="mailto:amgpetronass@gmail.com" target="blank">
              <img src="./images/mail.svg" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>

      <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="./images/georg.jpg" alt="Georg" />
        </div>
        <div class="card">
          <h3 class="team__title">Georgiy</h3>
          <p class="team__text">Developer</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/giorgio-ods" target="blank">
              <img src="./images/github.svg" alt="#" width="25" height="25" />
            </a>
          </li>
          <li class="team__item--employee">
            <a class="team__link" href="mailto:G.ego1991.ge@gmail.com" target="blank">
              <img src="./images/mail.svg" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="./images/nastya.jpg" alt="Anastasiia" />
        </div>
        <div class="card">
          <h3 class="team__title">Anastasiia</h3>
          <p class="team__text">Developer</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/a-konstantynova" target="blank">
              <img src="./images/github.svg" alt="#" width="25" height="25" />
            </a>
          </li>
          <li class="team__item--employee">
            <a class="team__link" href="mailto:developer1252@gmail.com" target="blank">
              <img src="./images/mail.svg" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <div class="team__thumb">
          <img class="img__box" src="./images/vlad.jpg" alt="Vlad" />
        </div>
        <div class="card">
          <h3 class="team__title">Vlad</h3>
          <p class="team__text">Developer</p>
        </div>
        <ul class="team__menu">
          <li class="team__item--employee">
            <a class="team__link" href="https://github.com/Vlad13b" target="blank">
              <img src="./images/github.svg" alt="#" width="25" height="25" />
            </a>
          </li>
          <li class="team__item--employee">
            <a class="team__link" href="mailto:vldbarsuk@gmail.com" target="blank">
              <img src="./images/mail.svg" alt="#" width="25" height="25" />
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <button class="modal-devs__close-btn" data-modal-close>close</button>
  </div>
</div>
