.films {
  margin: 20px 0 40px;
  padding: 0;
  // display: flex;
  // justify-content: flex-start;
  // align-items: stretch;
  // flex-wrap: wrap;

  &__item {
    margin-bottom: 20px;
    padding: 0;
    flex-basis: 280px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__thumb {
    border-radius: 5px;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
  }

  &__content {
    padding-top: 10px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
  }

  &__name {
    line-height: 1.33;
    color: var(--color-black);
    text-transform: uppercase;
  }

  &__description {
    display: flex;
    line-height: 1.33;
    color: var(--color-orange);
  }

  &__votes {
    display: flex;
    width: 36px;
    height: 16px;
    margin-left: 10px;

    color: var(--color-white);
    background-color: var(--color-orange);
    line-height: 1.17;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
}
