.header__container {
  margin: 0 auto;
  height: 230px;
}

.header {
  margin: 0 auto;
  height: 230px;
  min-width: 320px;
  width: 100%;
  background-image: url('../images/mobile/bg-header-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/mobile/bg-header-mobile@2x.jpg');
  }

  @include tablet {
    width: 100%;
    background-image: url('../images/tablet/bg-header-tablet.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tablet/bg-header-tablet@2x.jpg');
    }
  }

  @include desktop {
    width: 100%;
    background-image: url('../images/desktop/bg-header-desktop.jpg');
    margin-bottom: 35px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/desktop/bg-header-desktop@2x.jpg');
    }
  }
}
.header__logo-icon{
  margin-right: 10px;
}
.wrap {
  display: flex;
  align-items: baseline;
  padding-top: 46px;
  margin-bottom: 32px;

  @include tablet {
    padding-top: 40px;
  }

  @include desktop {
    padding-top: 38px;
  }
}

.film-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: auto;

  @include tablet {
    margin-right: 10px;
  }
}

.logo-link {
  display: none;
  margin-right: auto;

  @include tablet {
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: var(--color-white);
  }
}
.menu{
  margin-left: auto;
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 39px;
}

.btn-style {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  border: none;
  padding: 0;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--color-white);
  transition: var(--animation);
  &:hover{
    transform: scale(1.1);
  }
}

.current::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--color-orange);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 280px;
  height: 20px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 0.5px solid var(--color-white);
  padding-bottom: 4px;
  padding-left: 3px;
  color: var(--color-white);

  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
  }
}
//=================search form - styling================//
.btn-search {
  position: relative;
  background-image: url('../images/search@2x.png');
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-color: transparent;
  height: 15px;
  width: 15px;
  border: transparent;
  transform: translate(265px, -20px);
  cursor: pointer;
  transition: var(--animation);

  &:hover{
    background-color: var(--color-orange);
    border-radius: 5px;
  }

  @include tablet {
    transform: translate(265px, -20px);
  }

  @include desktop {
    transform: translate(265px, -20px);
  }
}

.form-wrap{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}
.form-span{
  position: absolute;
  bottom: 18px;
  left: 0px;
  width: 0; 
  height: 2px;
  background-color: var(--color-orange);
  transition: var(--animation);
}

.search:focus ~ .form-span{
  width: 100%;
  }

.form-label{
  position: absolute;
  left: 0;
  width: 100%;
  top: -2px;
  font-size: 14px;
  pointer-events: none;
  color: var(--color-white);
  transition: var(--animation);
  
}

.popup-label{
  top: -25px;
  
}

.search:focus ~ .form-label,
.search:active ~ .form-label {
  top: -25px;
  color: var(--color-orange);
}

.search:focus ~ .btn-search {
  background-color: var(--color-orange);
    border-radius: 5px;
    transform: translate(78px, -47px);
}

.library-page {
  height: 230px;
  min-width: 320px;
  width: 100%;
  background-image: url('../images/mobile/bg-header-mobile2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/mobile/bg-header-mobile2@2x.jpg');
  }

  @include tablet {
    width: 100%;
    background-position: bottom;
    background-image: url('../images/tablet/bg-header-tablet2.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tablet/bg-header-tablet2@2x.jpg');
    }
  }

  @include desktop {
    width: 100%;
    background-image: url('../images/desktop/bg-header-desktop2.jpg');
    margin-bottom: 35px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/desktop/bg-header-desktop2@2x.jpg');
    }
  }
}
//====added error styles====//
.error-msg {
  margin-top: 10px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  color: rgba(255, 0, 27, 1);
}

.users-lists {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &-button {
    width: 136px;
    height: 44px;
    left: 369px;
    top: 121px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    background: transparent;
    border-radius: 5px;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    cursor: pointer;
    transition: background-color var(--animation);
  }

  & .active {
    background: var(--color-orange);
    border: var(--color-orange);
  }
}

.ul-item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}
