.basicLightbox {
  overflow: auto;
  height: 100%;
}

.backdrop {
  position: relative;
  top: 20px;
  left: 20px;

  width: 280px;
  min-height: 958px;
  background-color: var(--color-white);
}
.modal {
  &__close-btn {
    position: absolute;
    left: 260px;
    top: 30px;

    width: 30px;
    height: 30px;

    // background-color: transparent;
    // border-color: transparent;
    // border: none;
    // padding: 0;
  }
  &__icon-close {
  }
  &__card {
  }
  &__item-img {
    padding-bottom: 30px;
  }
  &__image {
    position: absolute;
    left: 40px;
    top: 68px;

    width: 240px;
    height: 356.57px;
    border-radius: 5px;
  }
}

.card {
  position: absolute;
  left: 40px;
  top: 455px;

  width: 240px;
  &__title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__table {
  }
  &__table-link:not(:last-child) {
    margin-bottom: 12px;
  }
  &__item {
    margin-right: 25px;
    font-weight: 500;
    font-size: 12px;

    color: var(--color-grey-1);
  }
  &__info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
  }
  &__vote-average {
    background: var(--color-orange);
    border-radius: 5px;
    color: var(--color-white);
  }
  &__vote-count {
    background: var(--color-grey-1);
    border-radius: 5px;
    color: var(--color-black);
  }
  &__card__original-title {
    text-transform: uppercase;
  }
  &__about {
    margin: 20px 0 10px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
  }
  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
    margin-bottom: 40px;
  }
}

.modal-button {
}
.storage {
  display: flex;
  justify-content: space-between;

  &__item {
  }
  &__label {
    background-color: transparent;
    color: var(--color-black);
    cursor: pointer;
    padding: 12px 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__input {
  }

  .visually-hidden {
  }
  .storage__btn {
  }
}
