.modal {
  &__container {
    position: relative;
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 5px;

    @include tablet {
      display: flex;
    }

    @include tablet {
      padding: 50px 30px;
    }
  }

  &__close-btn {
    position: absolute;
    left: 240px;
    top: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 500ms linear, transform 500ms ease-in-out;
    background-image: url('../images/close.svg');
    background-position: center;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-color: var(--color-orange);
      transform: rotate(180deg);
    }

    @include tablet {
      left: 550px;
    }

    @include desktop {
      left: 830px;
    }
  }

  &__item-img {
    max-width: 240px;
    max-height: 360px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 30px;

    @include tablet {
      max-width: 260px;
      max-height: 370px;
      margin-right: 30px;
    }

    @include desktop {
      max-width: 400px;
      max-height: 480px;
    }
  }
  &__image {
    width: 100%;
    height: auto;

    object-fit: contain;
  }
}

.card {
  &__title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;

    @include desktop {
      font-size: 30px;
    }
  }
  &__table-link:not(:last-child) {
    margin-bottom: 12px;

    @include desktop {
      margin-bottom: 20px;
    }
  }
  &__item {
    margin-right: 25px;
    font-weight: 500;
    font-size: 12px;

    color: var(--color-grey-1);

    @include desktop {
      margin-right: 90px;
      font-size: 16px;
    }
  }
  &__info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    @include desktop {
      font-size: 16px;
    }
  }
  &__vote-average {
    background: var(--color-orange);
    padding: 0 10px;
    border-radius: 5px;
    color: var(--color-white);
  }
  &__vote-count {
    background: var(--color-grey-1);
    padding: 0 10px;
    border-radius: 5px;
    color: var(--color-black);
  }
  &__card__original-title {
    text-transform: uppercase;
  }
  &__about {
    margin: 20px 0 10px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
  }
  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
    margin-bottom: 40px;
  }
}
.modal-button {
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__btn {
    width: 100px;
    height: 44px;
    padding: 0;
    margin: 0;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    @include tablet {
      width: 120px;
    }

    @include desktop {
      width: 140px;
    }

    &:hover,
    &:focus {
      border: none;
      background: var(--color-orange);
    }
  }
}
