body.dark-theme {
  background-color: var(--color-grey-2);
  color: var(--color-grey);
  &.modal__container {
    background-color: var(--color-grey-1);
  }

  & .modal__container {
    background-color: var(--color-grey-2);
    & .modal__close-btn {
      background-color: var(--color-grey-1);
      &:hover,
      &:focus {
        background-color: var(--color-orange);
      }
    }
    & .modal-button__btn {
      background-color: var(--color-grey-1);
      &:hover,
      &:focus {
        background-color: var(--color-orange);
      }
    }
    & .card__info,
    .card__about,
    .card__description,
    .modal__button-trailer,
    .modal-button__btn {
      color: var(--color-gray);
    }
  }

  & .modal-devs__overlay {
    background-color: var(--color-grey-2);
    & .modal-devs__close-btn {
      background-color: var(--color-grey-1);
      &:hover,
      &:focus {
        background-color: var(--color-orange);
      }
    }
    & .team__title--main,
    .team__text {
      color: var(--color-gray);
    }
    & .team__item {
      color: var(--color-gray);
    }
    & .team__link {
      background-color: var(--color-grey-2);
      &:hover,
      &:focus {
        background-color: var(--color-grey);
      }
    }
  }

  .footer,
  .footer__btn,
  .footer__text {
    background-color: var(--color-black);
    color: var(--color-grey);
  }
  .footer__btn:hover {
    color: var(--color-grey-3);
  }

  .films__name {
    color: var(--color-grey);
  }

  & .tui-pagination {
    & .tui-page-btn {
      color: var(--color-grey);

      &:hover {
        background-color: var(--color-grey-1);
      }
    }

    & .tui-ico-prev,
    & .tui-ico-next {
      background-color: var(--color-grey-1);

      &:hover {
        background-color: var(--color-grey);
      }
    }

    & .tui-is-selected {
      background-color: #9d7d69;
    }
  }
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px 0;
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.svg-switch {
  margin-right: 10px;
  padding-top: 2px;
}

.theme-switch__icon {
  color: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 57px;
  height: 24px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--color-orange);
  user-select: none;
  background-color: var(--color-grey-2);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: var(--color-orange);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms;
}
.theme-switch__toggle + .theme-switch__track,
.theme-switch__toggle + .theme-switch__track {
  box-shadow: 0 0 0 2px var(--color-orange);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: var(--color-grey);
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}
